/* ---------------------------------------------------
   NAVBAR
----------------------------------------------------- */
.navbar {
  width: 100%;
  background: #163300;
  border-bottom: 0.5px solid #ffffff;
  
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 32px;
  display: flex;
  justify-content: flex-start; /* antes SPACE-BETWEEN */
  align-items: center;
  gap: 150px; /* separa Ecogasto del resto */
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.links {
  display: flex;
  gap: 48px;
  font-size: 15px;
}

.links a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s ease;
}

.links a:hover,
.active {
  color: #22c55e;
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 14px;
}

.btn-outline {
  border: 1px solid white;
  padding: 10px 26px;
  border-radius: 999px;
  border-width: 2.5px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.btn-filled {
  background: #9FE870;
  padding: 10px 26px;
  border-radius: 999px;
  font-size: 14px;
  text-decoration: none;
  color: #163300;
  font-weight: 550;
  align-content: center;
}

/* ---------------------------------------------------
   HERO SECTION – IGUAL AL FIGMA
----------------------------------------------------- */
.hero {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  gap: 60px;  
  background-color: #163300; /* tu color */
  margin: auto ;
  padding-top: 150px;            /* ESPACIO ENTRE TEXTO E IMAGEN */
  position: relative;
}

.hero-left {
  width: 50%;
}

.hero-left h1 {
  color:white;
  font-size: 54px;          /* MÁS GRANDE COMO Figma */
  line-height: 1.15;
  font-weight: 800;
  margin-bottom: 20px;
}

.hero-left p {
  margin-top: 16px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #ffffff;
  max-width: 90%;
}

.hero-buttons {
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

.btn-primary {
  background: #22c55e;
  padding: 14px 36px;
  border-radius: 999px;
  color: #163300;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
}

.hero-right img {
  width: 520px;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: 15px;

}
html, body {
  height: 100%;
  margin: 0;
}

.page-background {
  min-height: calc(100vh - 80px); /* altura total menos navbar */
  background-color: #163300; /* tu color */
}

.hero-up{
  position: absolute;
  top: 150px;               
  left: 0;                  
  background-color: #284314;
  color: #ffffff;
  padding: 10px 21px;
  border-radius: 999px;
  font-weight: 500;
  font-size: 15px;
  width: fit-content;
}
