.layout {
    display: flex;
    height: 100vh;
    background-color: #edf0f2;
}

.sidebar {
    width: 220px;
    background: #f4f4f4;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.content {
    margin-left: 220px; 
    padding: 20px;
    width: calc(100% - 220px);
}