<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>Lista de Recomendaciones</h2>
<button routerLink="Rnuevo" class="btn-registrar">+ Registrar Recomendacion</button>

</div>
  <mat-card>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.idRecomendacion }}</td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Meta</th>
        <td mat-cell *matCellDef="let element">{{ element.meta?.nombre }}</td>
      </ng-container> 
  

      <!-- Name Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let element">{{ element.categoria }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Fecha de publicacion</th>
        <td mat-cell *matCellDef="let element">{{ element.fechapublicacion | date: 'dd/MM/yyyy'}}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Fuente</th>
        <td mat-cell *matCellDef="let element">{{ element.fuente }}</td>
      </ng-container>
      
      <!-- Symbol Column -->
      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button 
          matButton
          [routerLink]="['Redits',element.idRecomendacion]" style="display:block; margin:0 auto;"
          >
            <mat-icon>edit</mat-icon>
          </button> 
        </td>
      </ng-container>
      <!-- Symbol Column -->
        <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button 
          matButton
          (click)="eliminar(element.idRecomendacion)" style="display:block; margin:0 auto;"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </mat-card> 
</div>
