<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>Lista de Consumos</h2>
    <button routerLink="Cnuevo" class="btn-registrar">+ Registrar Consumo</button>
  </div>

  <mat-card>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.idConsumo }}</td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">{{ element.usuario.username}}</td>
      </ng-container>

      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Recurso</th>
        <td mat-cell *matCellDef="let element">{{ element.recurso.nombreRecurso }}</td>
      </ng-container>

      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
      </ng-container>

      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Costo</th>
        <td mat-cell *matCellDef="let element">{{ element.costo }}</td>
      </ng-container>

      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">{{ element.fecha | date: 'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
      </ng-container>

      <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton [routerLink]="['Cedits', element.idConsumo]" style="display:block; margin:0 auto;">
            <mat-icon style="text-align: center; margin: 5%">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="c9">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button 
          matButton
          (click)="Celiminar(element.idConsumo)" style="display:block; margin:0 auto;"
          >
          <mat-icon style="text-align: center; margin: 5%">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </mat-card>
</div>
