.menu-container {
  width: 250px;
  height: 95vh;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* cada opción del menú */
.menu-item {
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* estilo de los botones */
.menu-item button {
  color: #1b5e20;
  text-transform: none;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
}

/* íconos */
mat-icon {
  color: #1b5e20;
  font-size: 22px;
}

/* hover */
.menu-item:hover {
  background-color: #edfeff;
  border-radius: 10px;
}

/* submenú */
.mat-mdc-menu-panel {
  background-color: #edfef1;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mat-mdc-menu-item {
  color: #333;
  font-weight: 500;
}

.mat-mdc-menu-item:hover {
  background-color: #edfef1;
}

/* Responsivo */
@media (max-width: 768px) {
  .menu-container {
    width: 200px;
  }

  .menu-item button {
    font-size: 14px;
  }
}

:host {
  display: block;
  background-color: #edf0f2;
  /* o #edfef1 si prefieres más verdoso */
  height: 100vh;
}